[submodule "Artificial-Intelligence"]
	path = Artificial-Intelligence
	url = https://github.com/MaZirui2001/Artificial-Intelligence.git
[submodule "Bigdata-Algorithm"]
	path = Bigdata-Algorithm
	url = https://github.com/MaZirui2001/Bigdata-Algorithm.git
[submodule "Algorithm"]
	path = Algorithm
	url = https://github.com/MaZirui2001/Algorithm.git
[submodule "Computer-Architecture-H"]
	path = Computer-Architecture-H
	url = https://github.com/MaZirui2001/Computer-Architecture-H.git
[submodule "Database"]
	path = Database
	url = https://github.com/MaZirui2001/Database.git
[submodule "Digital-Image"]
	path = Digital-Image
	url = https://github.com/MaZirui2001/Digital-Image.git
[submodule "Embedded-System"]
	path = Embedded-System
	url = https://github.com/MaZirui2001/Embedded-System.git
[submodule "Networking"]
	path = Networking
	url = https://github.com/MaZirui2001/Networking.git
[submodule "Quantum-Computing-and-Machine-Learning"]
	path = Quantum-Computing-and-Machine-Learning
	url = https://github.com/MaZirui2001/Quantum-Computing-and-Machine-Learning.git
[submodule "Compiler-H"]
	path = Compiler-H
	url = https://github.com/MaZirui2001/Compiler-H.git
[submodule "Introduction-of-Computing-System"]
	path = Introduction-of-Computing-System
	url = https://github.com/MaZirui2001/Introduction-of-Computing-System.git
